<!DOCTYPE html>
<html lang="es " xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Persona</title>
</head>
<body>
<h1>Editar Persona</h1>

<form th:action="@{''}" th:object="${persona}" method="post">
    <div>
        <label for="nombrePersona">Nombre Persona</label>
        <input id="nombrePersona" placeholder="Nombre Evento" type="text" th:field="*{nombre_persona}">
    </div>
    <div>
        <label for="telefonoPersona">Telefono Persona</label>
        <input id="telefonoPersona" placeholder="Telefono Persona" type="text" th:field="*{telefono_persona}">
    </div>
    <div>
        <label for="fechaBaja">Fecha Baja</label>
        <input id="fechaBaja" placeholder="Fecha Baja" type="date" th:field="*{fecha_baja}">
    </div>

    <button>Guardar</button>
</form>
</body>
</html>